{
  "root": true,
  "extends": ["airbnb", "plugin:markdown/recommended"],
  "plugins": ["jest", "markdown"],
  "overrides": [
    {
        // 2. Enable the Markdown processor for all .md files.
        "files": ["**/*.md"],
        "processor": "markdown/markdown"
    },
    {
        // 3. Optionally, customize the configuration ESLint uses for ```js
        // fenced code blocks inside .md files.
        "files": ["**/*.md/*.js"],
        // ...
        "rules": {
            // ...
        }
    }
],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-lonely-if": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-loop-func": "off"
  }

}

